/*======Нормалізація======*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/*============Header============*/
.navigation-list {
  display: none;
}

.navigation-adress {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-list,
  .navigation-adress {
    display: flex;
  }
}

.btn-mobile-menu {
  background-color: transparent;
  border: none;
  fill: #2f2f37;
  padding: 0;
  line-height: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .btn-mobile-menu {
    display: none;
  }
}
